:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.lmd-application.v-theme--light {
  --v-high-emphasis-opacity: 0.85; /* light theme */
}

.lmd-application.theme--dark {
  --v-high-emphasis-opacity: 1; /* dark theme */
}

html[main-window] {
  min-width: 1000px;
  min-height: 500px;
  overflow: auto
}
html[running-window] {
  min-width: 400px;
  min-height: 300px;
  /* overflow: auto */
}
html[lite-layout] {
  min-width: unset;
  min-height: unset;
  overflow: hidden
}


.lmd-application a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  text-decoration-line: none;
}

.lmd-application a:hover {
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

.lmd-application a:active {
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

.running-window-main a {
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

.running-window-main a:hover {
  color: rgb(var(--v-theme-primary));
  text-decoration: underline;
}

.running-window-main a:active {
  color: rgb(var(--v-theme-primary));
}

code {
  /* background-color: #1a1a1a; */
  background-color: #DDD;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

pre {
  white-space: pre-wrap; 
  word-wrap: break-word;
}

.card {
  padding: 2em;
}

.window-drag {
  app-region: drag;
}
.window-no-drag {
  app-region: none;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;
}
#app .v-btn {
  text-transform: none;
}

#app .vel-btns-wrapper .btn__close {
  right: 20px;
  top: 64px;
}

.v-btn--active,
.v-btn--active:focus,
.v-btn--active:hover {
  background-color: initial;
  box-shadow: none;
  color: initial;
}
.common-instance-card {
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}
